* {
    cursor: cell;
 }

body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 0;
    padding: 0;
    zoom: 100%;

}

.div-x {
    position: fixed;
    padding: 20px 20px 5px 20px;
}

    h1 {
        margin: 5px 5px 5px 0px;
        font-size: 22px;
        font-weight: bold;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        margin-bottom: 3px;
        font-weight: bold;
        font-size: 18px;
    }

    a {
        color: white;
        text-decoration: none;
        cursor: cell;
    }

        a#head:active, #head:hover{
            background-color: transparent;
        }

        a#about:active, #about:hover{
            color: white;
            background-color: rgb(46, 46, 46);
        }
        a#t1:active, #t1:hover{
            color: white;
            background-color: rgb(214, 153, 125);
        }
        a#t2:active, #t2:hover{
            color: white;
            background-color: rgb(149, 229, 216);
        }
        a#t3:active, #t3:hover{
            color: white;
            background-color: rgb(139, 209, 124);
        }
        a#fab:active, #fab:hover{
            color: white;
            background-color: rgb(46, 46, 46);
        }
        a#pro:active, #pro:hover{
            color: white;
            background-color: rgb(46, 46, 46);
        }
        a#cont:active, #cont:hover{
            color: white;
            background-color: rgb(46, 46, 46);
        }

.div-y {
    position: fixed; 
    top: 0; 
    right: 0; 
    width: 100px; 
    text-align:right;
    padding: 45px 30px 5px 20px;
    font-weight: bold;
    font-size: 18px;
}

.div-z {
    padding: 45px 90px 5px 20px;
    font-size: 60px;
    font-weight: bold;
    position: fixed;
    text-align: right;
    right: 0;
    top: 200px;

}

footer {
    color: rgb(255, 255, 255);
    font-size: 14px;
    position: fixed;
    text-align: center;
    bottom: 5px;
    width: 100%;
} 

img {
    width: 100%;
}





