* {
    cursor: cell;
 }

body {
    background-color: rgb(250, 250, 250);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 0;
    padding: 0;
    zoom: 100%;

}

section.index {
    z-index: 2;
}

.div-x {
    position: fixed;
    padding: 20px 20px 5px 20px;
}

    h1 {
        margin: 5px 5px 5px 0px;
        font-size: 22px;
        font-weight: bold;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        margin-bottom: 3px;
        font-weight: bold;
        font-size: 18px;
    }

    a {
        color: rgb(46, 46, 46);
        text-decoration: none;
        cursor: cell;
    }

        a#head:active, #head:hover{
            background-color: transparent;
        }

        a#about:active, #about:hover{
            color: white;
            background-color: rgb(46, 46, 46);
        }
        a#t1:active, #t1:hover{
            color: white;
            background-color: rgb(214, 153, 125);
        }
        a#t2:active, #t2:hover{
            color: white;
            background-color: rgb(149, 229, 216);
        }
        a#t3:active, #t3:hover{
            color: white;
            background-color: rgb(139, 209, 124);
        }
        a#fab:active, #fab:hover{
            color: white;
            background-color: rgb(46, 46, 46);
        }
        a#pro:active, #pro:hover{
            color: white;
            background-color: rgb(46, 46, 46);
        }
        a#cont:active, #cont:hover{
            color: white;
            background-color: rgb(46, 46, 46);
        }

.div-y {
    position: fixed; 
    top: 0; 
    right: 0; 
    width: 100px; 
    text-align:right;
    padding: 45px 30px 5px 20px;
    font-weight: bold;
    font-size: 18px;
}

.div-z {
    color: rgb(46, 46, 46);
    font-size: 40px;
    font-weight: bold;
    position: fixed;
    left: 20px;
    bottom: 20px;
}

footer {
    color: rgb(46, 46, 46);
    font-size: 14px;
    position: fixed;
    text-align: center;
    bottom: 5px;
    width: 100%;
}

section.content {
    z-index: 1;
}

.div-u {
    color: rgb(46, 46, 46);
    margin: auto;
    width: 700px;
    padding: 300px 0px 0px 0px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

div.beside {
    margin: auto;
    padding: 60px 0px 0px 0px;
    width: 700px;
    display: flex;
    flex-direction: row;
}

div.img1 {
    margin: 20px -80px 0px 30px; 
}

p {
    color: rgb(46, 46, 46);
    text-align: left;
}

h2 {
    color: rgb(46, 46, 46);
    font-size: 28px;
}

h2:hover {
    color: rgb(136, 136, 136)
}

.relfectionsgrid {
    margin: auto;
    width: 500px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px 0px 0px 0px;
}

.text {
    text-align: right;
}

img.grid {
    width: 250px;
    margin: 10px;
}

img.grid:hover {
    background-color: white;
    opacity: 70%;
}

span {
    color: rgb(250, 250, 250);
    background-color: rgb(46, 46, 46);
}

span:hover {
    background-color: rgb(136, 136, 136);
}